<!-- Note: this is vanilla HTML. TODO: Emberify!-->
<h2 class="left-padding gray">Wacky Media Player</h2>
<br>
<div class="col-lg-4">

  <label for="email" class="sr-only">Email</label>
  <div class="row">
      <div class="col-lg-12">
          <div class="input-group">
              {{input type="text" value=search insert-newline='searchVideos' class="form-control input-lg" placeholder="Search an artist or song" }}
              <span class="input-group-btn">
                <button type="button" class="btn btn-primary btn-lg" {{action 'searchVideos'}}>Search</button>
              </span>
          </div>
      </div>
  </div>
  <br/>
    {{#each video in model.items}}
        <div class="row">
            <div class="col-lg-12">
                <button type="button" {{action "fav" video}} class="btn btn-link"><span class="ion-star gold-star" aria-hidden="true"></span>Add {{trimShort video.snippet.title}}</button>
              {{#link-to 'search' video.id.videoId replace=true class="thumbnail"}}
                  <img {{bind-attr src=video.snippet.thumbnails.medium.url}}/>
                  <div class="caption">
                      <h4 >{{video.snippet.title}}</h4>
                      <p>{{trimString video.snippet.description}}</p>
                  </div>
              {{/link-to}}
            </div>
        </div>
    {{/each}}
  {{#if model.items}}
      <hr/>
  {{/if}}

</div>

<div class="col-lg-7">
    {{#if model.play}}
        <div class="well">
            <div class="embed-responsive embed-responsive-4by3">
              {{embed model.play}}
            </div>
        </div>
    {{/if}}
  <div class="playlist">
    {{#liquid-spacer growDuration=250}}
        {{#each fav in faves}}
            <div class="media">
                <div class="media-left">
                  {{#link-to 'search' fav.id.videoId replace=true class="thumbnail thumb-fav"}}
                      <img class="media-object"  {{bind-attr src=fav.snippet.thumbnails.medium.url}} />
                  {{/link-to}}
                    </a>
                </div>
                <div class="media-body">
                    <h5 class="media-heading">{{fav.snippet.title}}</h5>
                    <p>
                      {{#link-to 'search' fav.id.videoId replace=true type="button" class="btn btn-primary"}}
                          Play
                      {{/link-to}}
                        <button type="button" class="btn btn-default" {{action "unFav" _view.contentIndex}}>Delete</button>
                    </p>
                </div>
            </div>
        {{/each}}
    {{/liquid-spacer}}
  </div>

</div>
